<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    processIsolation="false"
    stopOnFailure="false"
    executionOrder="random"
    failOnWarning="true"
    failOnRisky="true"
    failOnEmptyTestSuite="true"
    beStrictAboutOutputDuringTests="true"
    cacheDirectory=".phpunit.cache"
    backupStaticProperties="false"
>
    <testsuites>
        <testsuite name="Arch">
            <file>tests/ArchTest.php</file>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Authorization">
            <directory>tests/Authorization</directory>
        </testsuite>
        <!-- Browser tests need Playwright, so they are excluded from the
             default run and invoked explicitly with `composer test:browser`. -->
        <testsuite name="Browser">
            <directory>tests/Browser</directory>
        </testsuite>
        <testsuite name="Cortex">
            <directory>tests/Cortex</directory>
        </testsuite>
        <testsuite name="Defaults">
            <directory>tests/Defaults</directory>
        </testsuite>
        <testsuite name="Modes">
            <directory>tests/Modes</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
